@import modules.director.Director
@(directors: Seq[Director])(implicit request: MessagesRequestHeader)

@main("Directors") {
	<a class="ui button" href="@modules.director.routes.DirectorController.createView()">Create a director</a>
	@request.flash.get("success").map { key =>
		<div class="ui success message">
			<div class="header">Success</div>
			@request.messages(key)
		</div>
	}
	<table class="ui celled table">
		<thead>
			<tr>
				<th>@Messages("First Name")</th>
				<th>@Messages("Last Name")</th>
				<th>@Messages("Date of birth")</th>
				<th>@Messages("Nationality")</th>
				<th>@Messages("Height")</th>
				<th>@Messages("Gender")</th>
				<th>reset</th>
			</tr>
		</thead>
		<tbody>
			@Option(directors).filter(_.nonEmpty).map { directors =>
			  @directors.map { director =>
				  <tr>
					  <td>@director.firstName</td>
					  <td>@director.lastName</td>
					  <td>@director.dateOfBirth</td>
					  <td>@director.nationality</td>
					  <td>@director.height</td>
					  <td>@director.gender</td>

				  </tr>
			  }
			}.getOrElse {
				<tr>
					<td colspan="2">No director found</td>
				</tr>
			}
		</tbody>
	</table>
}